<div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-4 col-offset-4">
    </div>
    <div class="col-4">
        <form class="d-flex search-beers" role="search">
            <input class="form-control me-2" type="search" placeholder="Name or description" name="query" aria-label="Search"
                [(ngModel)]="query" (keydown.enter)="search()">
            <button class="btn btn-outline-success" type="submit" (click)="search()">Search</button>    </form>

    </div>
</div>

<div class="row beers">
    <div *ngFor="let beer of result?.beers" class="col-md-3 col-sm-4">
        <beer class="col" [beer]="beer" [fav]="favBeers.includes(beer._id)"></beer>
    </div>
</div>

<footer class="row justify-content-md-center">
    <div class="col"></div>
    <div class="col">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" *ngIf="result && result.currentPage > 0">
                    <a class="page-link" (click)="previousPage()" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>

                <li *ngFor="let i of pages" class="page-item" [class.active]="i === result?.currentPage"><a
                        class="page-link" (click)="paginate(i)">{{i}}</a></li>

                <li class="page-item" *ngIf="result && result.currentPage < result.totalPages -1">
                    <a class="page-link" (click)="nextPage()" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col"></div>

</footer>