<div class=" beer card mb-3" style="max-width: 540px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img [src]="beer.image_url" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{beer.name}}</h5>
                <p class="card-text">{{beer.description}}</p>
                <button class="btn" [class.isFav]="fav" (click)="addOnFavourites(beer._id)">Fav</button>
            </div>
        </div>
    </div>
</div>